.container{
    background-color: white;
    width: 600px;
    height: 400px;
    border: 1px solid #000000;
    padding: 100px 100px 100px 100px ;
    margin: auto;
}
.login-form{
    margin: 50px;
}
button{
    margin: 0px 430px;
}

mat-form-field{
    width: 500px;
    margin: auto;
    // color: #82ad38;
}
button{
    background-color: #82ad38;
}
mat-checkbox{
    color:#82ad38;
}
p{
    color: #82ad38;
}
h2{
    color: #82ad38;
}
mat-label{
    color: #82ad38;
}

